html{height:100%;color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;} button { background: none; border: none; margin: 0; padding: 0; width: auto; overflow: visible; line-height:inherit;}button::-moz-focus-inner{padding:0;border:0;}

body{
	font-family:Karla,verdana;
	margin: 0 auto 0 auto;
	width: 80%;
	min-width:500px;
	max-width:1000px;
	font-size:18px;
}
#content{
	overflow:hidden;
}
h1, h2, h3, h4{
	font-weight:bold;
}
h1{
	font-size:45px;
	margin:0 0 40px 0;
}
h2{
	font-size:25px;
	margin:35px 0 10px 0;
}
h3{
	font-size:18px;
	margin:35px 0 10px 0;
}
p{
	margin:0 0 10px 0;
}
pre{
	font-family:AnkaHackerRegular,Anka Hacker, cousine, monospace;
	font-size:15px;
	line-height:21px;
	letter-spacing:1px;
}
#readme ol,#readme ul{
	list-style-type:decimal;
	padding:0 0 0 60px;
	margin:0 0 10px 0;
}
#colA{
	width:65%;
	float:left;
	margin:60px 0 0 0;
}
#colB{
	width:30%;
	float:right;
	height:300px;
}
#colB img{
	width:100%;
	max-width:600px;
	margin:0;
}
#menu{
	-moz-transition-property: all;
	-o-transition-property: all;
	-webkit-transition-property: all;
	-ms-transition-property: all;
	-webkit-transition-property: all;
	-moz-transition-property: all;
	transition-property: all;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	-ms-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-moz-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  	position:absolute;
	top:70px;
	right: 40%;
}
#menu.fixed{
	position:fixed;
	top:0;
}
#menu .top{
	display:none;
}
#menu.fixed .top{
	display:block;
}
#menu li{
	margin:0 0 0 20px;
	float:right;
	list-style-type:none;
}
#menu a{
	display:block;
	width :70px;
	text-align:center;
	padding:4px 5px;
	border:2px solid #56B795;
	color:#56B795;
	background:white;
	text-decoration:none;
}
a{color:black;}
a:hover{text-decoration:none;}
#menu a:hover{
	color:#000;
}
#menu a:active{
	border-color:#000;
}
#piece pre{
	background:#F1F6F3;
	white-space: pre-wrap;
}
#archives #inner{
	display:none;
}
#archives .imgbox{
	width:200px;
	height:299px;
	float:left;
	margin:0 50px 40px 0;
}
#archives img{
	width:200px;
}
.caption{
	font-family:AnkaHackerRegular,Anka Hacker, cousine, monospace;
	font-size:12px;
	margin:0 0 15px 0;
}
footer{
	clear:both;
	margin-top:30px;
	font-size:12px;
	border-top:2px solid black;
	padding:10px 0 20px 0;
}

@font-face {
    font-family: 'AnkaHackerRegular';
    src: url('font/ankahacker-r.eot');
    src: url('font/ankahacker-r.eot?#iefix') format('embedded-opentype'),
         url('font/ankahacker-r.woff') format('woff'),
         url('font/ankahacker-r.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}