@import url("main.css")
@page{
    size:auto;
    margin:0;
    padding:0; 
}
html, body {
	background: white;
	width:auto;
	padding: 0; 
	border: 0;
}		
#content {
	width: auto;
	padding: 0; 
	float: none !important;
}
a:link, a:visited {
	color: #666;
	background: transparent;
	text-decoration: underline;
}
#content a{
	position:relative;
}
#content a:link:after, #content a:visited:after {
	display none
	content: attr(href);
	font-size: 30%;
	position:absolute;
	left:0px;
	top:5mm;
	line-height:2mm;
}
#readme{font-size:80%;}
h1{	font-size:35px;	margin:0 0 20px 0;}
h2{	font-size:15px;	margin:17px 0 7px 0;}
h3{	font-size:14px;	margin:15px 0 7px 0;}
p{margin:0 0 5px 0;}
#piece pre{
	font-size:13px;
	line-height:1.3em;
}
#piece h2{
	margin-bottom:20px;
	text-align:center;
}
#colA{
	width:100%;
	float: none !important;
	margin:0;
}
#colB, #menu, #contributors, footer{
	display:none;
}
/*Page Break*/
@media all
{.page-break  { display:none; }}
@media print
{.page-break  { display:block; page-break-before:always; }}