/*1340107813,169776317*/

.fan_box .uiStream .shareRedesign{width:auto}
.fan_box .uiStreamStory .photoRedesign{width:auto}
.fan_box .uiStreamStory .uiStreamAttachments .photoRedesignAspect .img,
.fan_box .uiStreamStory .uiStreamAttachments .photoRedesignCover .img,
.fan_box .photoRedesign .img,
.uiStreamStory .videoRedesign .uiVideoThumb img{width:100%;left:0 !important}
.fan_box .uiStream .shareRedesign .shareRedesignMedia{display:none}
.fan_box .uiStream .shareRedesign .attachmentText,
.fan_box .uiStream .shareRedesignContainer .shareText{max-height:100%}
.fbDarkWidget .uiStreamRedesign .uiStreamMessage .messageBody{color:gray}
.fan_box .uiStreamStory .photoRedesignMiddle .photoWrap{width:100%;height:100%}

#bootloader_mQxB4 { height: 42px; }