/*1338326757,176820663*/

.fbDarkWidget .fan_box,
.fbDarkWidget .uiStream .uiStreamMessage{color:gray}
.fbDarkWidget .fan_box a{color:#ccc}
.fan_box .full_widget{border:solid 1px #94a3c4;background:white}
.fan_box .full_widget .connect_top{background:#eceff5}
.fan_box .connect_top{padding:10px 10px 8px 10px}
.pts .fan_box .connect_top{padding:5px 10px 8px 5px}
.fan_box .profileimage{float:left;width:40px;height:40px;padding:0 10px 0 0;margin:0 0 4px 0}
.fan_box .connect_action{padding:0 0 0 8px}
.fan_box .connect_action .name{line-height:15px;font-size:14px;font-weight:bold}
.fan_box .connect_button{padding-top:5px}
.fan_box .connect_button .uiButton{margin:1px 0 0 0}
.fan_box .connect_action a.undo{margin:0 0 0 3px}
.fan_box .page_stream, .fan_box .page_stream_short{text-align:center;padding:0 5px;overflow:auto;border-top:solid 1px #d8dfea;position:relative}
.fan_box .storyContent{text-align:left}
.fan_box .page_stream{overflow-x:hidden}
.fan_box .page_stream .loader{padding-top:20px}
.fan_box .UIIntentionalStory{background:transparent;text-align:left;padding:7px 0 0 0}
.fan_box .UIIntentionalStory .UIMediaItem_UnknownWidth{max-width:100px}
.fan_box .connections{border-top:solid 1px #d8dfea;padding:10px 0 4px 10px;min-height:150px}
.pts .fan_box .connections{padding:5px 0 4px 5px}
.fan_box .connections .connections_grid{padding-top:5px}
.fan_box .connections_grid .grid_item{float:left;padding:0 5px 8px 0;overflow:hidden;width:50px}
.fan_box .connections_grid .grid_item .name{font-size:9px;color:gray;overflow:hidden;padding-top:2px;text-align:center;white-space:nowrap}
.fan_box .connect_span{margin:0 0 1px}
.fan_box .connect_widget .connect_widget_text{padding:0}
.fan_box .connect_widget td.connect_widget_vertical_center{height:20px}
.fan_box .connect_widget .connect_widget_interactive_area{margin:5px 0 0}
.connect_widget{overflow:hidden}
.connect_widget .connect_widget_facebook_logo_menubar{background-color:#3b5998;border:1px solid #244588;border-bottom:none;margin-bottom:-1px;position:relative}
.connect_widget .connect_widget_facebook_logo{padding:3px 0 5px 6px;float:left}
.connect_widget .connect_widget_facebook_logo span{background:transparent url(http://static.ak.fbcdn.net/rsrc.php/v2/yx/r/zZEOQP4uOC1.gif) no-repeat scroll 0 0;display:block;height:17px;width:90px}
.connect_widget .connect_widget_facebook_logo:hover span{background-position:left -17px}
.connect_widget .connect_widget_menu_options{float:right}
.connect_widget .connect_widget_menu_link{float:left;height:17px;margin-right:5px;padding:5px 5px 3px 5px;color:#fff;font-size:11px}
.connect_widget .connect_widget_menu_link:hover{background-color:#5c75aa;text-decoration:none}

#bootloader_Ta701 { height: 42px; }